---
import Container from "../../layouts/Container.astro"
import H2 from "../atoms/H2.astro"
---
<Container>
	<section class="flex flex-col gap-8">
		<!-- THIS IS INCORRECT AS CENTER SHOULD BE A P LIKE ELEMENT PROPERTY -->
		<div class="text-center">
			<H2>Brands that trust us to drive more revenue</H2>
		</div>
		<div class="grid grid-cols-4 gap-4">
			{
				Array(8).fill(0).map( ( value ) => {

					return (
						<div class="bg-zinc-200 h-full aspect-video" />
					)

				})
			}
		</div>
	</section>
</Container>
