---
import Container from "../../layouts/Container.astro"
import Button from "../atoms/Button.astro"
import H1 from "../atoms/H1.astro"
---
<Container>
	<section class="h-screen">
		<div class="grid grid-cols-2 items-center">
			<div class="flex flex-col gap-4">
				<H1>The results-driven Social first agency you've been looking for.</H1>
				<Button>Enquire Now</Buton>
			</div>
			<div class="bg-zinc-200 w-full aspect-square">
				<!-- // IMAGE WILL COME HERE -->
			</div>
		</div>
	</section>
<Container>
