---
import Container from "../../layouts/Container.astro"
import Button from "../atoms/Button.astro"
import H1 from "../atoms/H1.astro"
import Paragraph from "../atoms/Paragraph.astro"
---
<Container>
	<section class="flex flex-col gap-10">
    	<H1>What makes us different to other Social Media Agencies...</H1>
    	<div class="grid grid-cols-3 gap-12">
			{

				Array(5).fill(0).map( ( value ) => {

					return (

						<div class="bg-primary p-10 rounded-lg">
							<div class="flex flex-col mb-4 gap-4">
								<div class="size-12 bg-zinc-200"/>
								<h3 class="text-2xl font-bold font-gilmer">Our Partners</h3>
							</div>
							<Paragraph>We're a Meta Business Partner, Google Partner and have account managers at all major Social platforms.</Paragraph>
						</div>

					)

				})

			}
    	</div>
	</section>
</Container>
