---
import Container from "../../layouts/Container.astro"
import Button from "../atoms/Button.astro"
import H1 from "../atoms/H1.astro"
import Paragraph from "../atoms/Paragraph.astro"
---
<Container>
	<section>
		<div class="grid grid-cols-2 gap-4 items-center">
			<div class="w-full aspect-square bg-zinc-100">

			</div>
			<div class="flex flex-col gap-4">
				<H1>Paid Media campaigns that scale</H1>
				<Paragraph>Having won 4x awards for our Paid Media Campaigns, our dedicated team of media buyers knows exactly what needs to be done to achieve the best ROI from Paid Social & Paid Search.</Paragraph>
				<Paragraph>We’ve spent over £15m+ in the past 12 months across our client's ad accounts whilst driving £62.3m in attributed revenue.</Paragraph>
				<Paragraph>We love working with ambitious marketing teams & founders who want to achieve better efficiency, profitability & scalability with their advertising campaigns.</Paragraph>
				<Button>See how we do it</Button>
			</div>
	</div>
	</section>
</Container>
