---
import Container from "../../layouts/Container.astro"
import Button from "../atoms/Button.astro"
import H1 from "../atoms/H1.astro"
import Paragraph from "../atoms/Paragraph.astro"
---
<Container>
	<section>
		<div class="grid grid-cols-2 gap-12 items-center">
			<div class="w-full aspect-square bg-zinc-100">

			</div>
			<div class="flex flex-col gap-4">
				<H1>Trackable results with Influencer Marketing</H1>
				<Paragraph>Influencers and creators play a core role in any social campaign, helping brands to produce & distribute authentic content, drive mass awareness and drive trackable revenue.</Paragraph>
				<Paragraph>Our campaign-driven & always-on influencer activity includes a mix of micro, macro & celebrity influencers to ensure your target market is being recommended your product by their favourite influencers.</Paragraph>
				<Button>See our process</Button>
			</div>
		</div>
	</section>
</Container>
